#stick {
    background-color: black;
    width: 20px;
    height: 100px;
    margin: auto;
}

#frame {
    padding-top: 20px;
    background-color: black;
    width: 150px;
    height: 360px;
    border-radius: 10px;
    margin: auto;
}
#red-light {
    background-color: red;
    cursor: pointer;
}

#yellow-light {
    background-color: yellow;
    cursor: pointer;
}

#green-light {
    background-color: green ;
    cursor: pointer;
}
.light {
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
}

.selected {
    -webkit-box-shadow:0px 0px 42px 54px rgba(219,219,204,1);
-moz-box-shadow: 0px 0px 42px 54px rgba(219,219,204,1);
box-shadow: 0px 0px 42px 54px rgba(219,219,204,1);
}